body{
	margin: 0;
	padding: 0;
	width: 25em;
}

.heading h1{
	font-size: 2em;
	text-align: center;
}

.colorPicker{
	display: flex;
	flex-direction: column;
	text-align: center;
}

span{
	border: 1px solid black;
	margin: 3px;
	height: 2em;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#red{
	background-color: red;
}

#green{
	background-color: green;
}

#blue{
	background-color: blue;
}